#beans{
    width: 390px;
    position: absolute;
    left: 940px;
    top: 780px;
}

#titleB{
    margin-top: 50px;
    color:rgb(81, 26, 26);
    font-size: 65px;
    margin-top: 100px;
    line-height: 1;
    margin-left: 300px;
}
#paragraph{
    width: 628px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(81, 33, 33);
    margin-left: 300px;
    font-weight: 400;
    font-size: 20px;
}